.card {
  display: flex;
  flex-direction: column;
  background: var(--c-prymary);
  padding: 35px;
  border-radius: 10px;
  color: var(--c-white);
  text-align: left;
  justify-content: center;

  &__image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }

  &__header {
    display: flex;
    align-items: center;

    @media (min-width: $bp-large) {
      flex-direction: column;
      text-align: center;
    }

    @media (min-width: $bp-xlarge) {
      flex-direction: row;
      text-align: left;
    }
  }

  &__title {
    margin-left: 20px;

    @media (min-width: $bp-large) {
      margin: 0;
    }

    @media (min-width: $bp-xlarge) {
      margin-left: 20px;
    }

    &-principal {
      margin: 0;
    }

    &-subtitle {
      margin: 0;
      color: var(--c-violet);
    }
  }

  &:first-child {
    @media (min-width: $bp-xlarge) {
      align-self: flex-start;
    }
  }

  &:last-child {
    @media (min-width: $bp-xlarge) {
      align-self: flex-end;
    }
  }

  @media (min-width: $bp-large) {
    width: 24%;
    min-height: 350px;
  }

  @media (min-width: $bp-xlarge) {
    width: 27%;
    min-height: auto;
  }
}
