.ranking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--c-lightgray);
  padding: 10px;
  background: var(--c-lightgray);
  border-radius: 10px;
  align-items: center;

  &__image {
    margin: 5px;
  }

  &__text {
    margin: 0;
    color: var(--c-prymary);

    @media (min-width: $bp-large) {
      margin-left: 10px;
    }
  }

  &:first-child {

    @media (min-width:$bp-large) {
      align-self: flex-start;
    }
  }

  &:last-child {

    @media (min-width:$bp-large) {
      align-self: flex-end;
    }
  }

  &__header {
    
    @media (min-width:$bp-large) {
      line-height: 0;
    }
  }

  @media (min-width: $bp-large) {
    flex-direction: row;
    width: 400px;
    padding: 15px 50px 15px 25px;
    justify-content: flex-start;
  }
  
}
