.cards {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  min-height: 890px;
  justify-content: space-between;

  @media (min-width: $bp-small) {
    min-height: 800px;
  }

  @media (min-width: $bp-medium) {
    min-height: 730px;
  }

  @media (min-width: $bp-large) {
    align-items: center;
    flex-direction: row;
    min-height: 350px;
  }
}
